<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>About page</h1>
        <% if ( 1 > 2) { %>
        	<p>Testing... </p>
        	<p>aaaaa</p>
        <% } else { %>
        	<p>Test Two</p>
        	<p>bbbbb</p>
        <% } %>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>